/*Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif*/
.ChatBox{
  height: 100%;
  width: calc(100% -2em);
  background: linear-gradient(45deg, #ddd 0%, #ddd 50%, #ccc 50%, #ddd 100%);
/* background-image: linear-gradient(to right top, #061d3f, #212558, #432a6d, #6a2a7d, #942185); */
  
  padding: 0.5em;
  border-radius: 10px;
  overflow-y: scroll;
  box-shadow:inset 0 5px 5px rgba(0, 0, 0, 0.3);
  margin: 0.5em;

}
.ChatBox::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.ChatBox {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.Unknown{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  height: 100%;
}
