.AuthPage-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;

}

.AuthPage{
  max-width: 300px;
  width: calc(100% - 2em);
  padding: 0.5em;
  margin: 0.5em;
  display: flex;
  flex-flow: column nowrap;
  background: linear-gradient(45deg, #ddd 0%, #ddd 50%, #ccc 50%, #ddd 100%);
  border-radius: 20px;
  box-shadow:0 5px 5px rgba(0, 0, 0, 0.3);
}

.AuthPage .Tabs{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
}
.Tabs .Tab{
  background: linear-gradient(45deg, #ddd 0%, #ddd 50%, #ccc 50%, #ddd 100%);
  border-radius: 20px;
  box-shadow:0 5px 5px rgba(0, 0, 0, 0.3);
  width: 50%;
  height:2em;
  margin: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:1.75em;
  font-weight: 600;
  cursor: pointer;
   transition-duration:0.5s;
   padding: 0.25em;
  color: #999;

}
.TabActive{
   box-shadow:inset 0 5px 5px rgba(0, 0, 0, 0.3) !important;
    color: #444 !important;
}

.Page{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 0.5em;
}
.Page input{
  margin: 0.5em;
  background: none;
  border: none;
  border-bottom: 1px dashed grey;
  padding: 0.25em 0.5em;
  font-size: 1.2em;

}
.Page input:focus{
  border-bottom: 1px solid grey;
  outline: none;


} 
.Page input[type="button"],.Page input[type="submit"]{
     box-shadow:0 5px 5px rgba(0, 0, 0, 0.3) ;
      padding: 0.5em;
      border: none;
      border-radius: 10px;
      background: white;
      cursor: pointer;
      font-weight: 600;
      font-size: 1.5em;
      color:#444;
}
.Page input[type="button"]:focus,.Page input[type="submit"]:focus{
  background: linear-gradient(45deg, #ddd 0%, #ddd 50%, #ccc 50%, #ddd 100%);

  
}
.Alert{
  
  width: 100%;
  text-align: center;
  color: red;
  font-weight: 600;
}

.flex-row{
  display: flex;
  flex-flow: row no-wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.flex-row input{
  width: 100%;
}
.passwordShower{
  text-transform: uppercase;
  background: white;
  box-shadow:0 5px 5px rgba(0, 0, 0, 0.3) ;
  padding: 0.25em 0.5em;
  border-radius: 100px;
  font-weight: 600;
  cursor: pointer;
  
  }